.App {
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;

  button {
    width: 50px;
    background-color: rgb(199, 186, 186);
    border-radius: 5px;
    border: 1px solid grey
  }

  button:hover {
    cursor: pointer;
  }

  h1 {
    margin-bottom: 10px;
  }

  .gameIdInput {
    width: 300px;

    .inputSection {
      margin: 10px;
    }
  }

  .playerBox {
    margin-top: 15px;
  }
}
.turnTracker {
  margin: 15px;
}
